<hello name="{{ name }}"></hello>
<p>
  <br/>
  {{"contoh awal"}}

  <br/><br/>
  25+25={{25+25}}

  {{variable}}   <br/><br/>  
</p>

<div *ngFor = "let buah of item; let num=index">
  {{num+1}}. {{buah.nama}} - {{buah.harga | currency:'Rp'}}
</div>

<br/><br/>

<div *ngFor = "let data of itemArr">
 isi = {{data}}
</div>

<p *ngIf="show">
  Tampilkan isi
</p>

<p *ngIf="user.nama">
  nama user : {{user.nama}}
</p>

<ng-template *ngIf = "show;then showBlock; else notShowBlock">
</ng-template>

<ng-template #showBlock>
<p> ini Show Block </p>
</ng-template>

<ng-template #notShowBlock>
<p> ini NOT Show Block </p>
</ng-template>

<p>
  <input [(ngModel)] = "a" type="text" /> *
  <input [(ngModel)] = "b" type="text" /> = {{a*b}}
</p>

-> ngModel terima di dalemnya

<button (click) = "KlikButton()">Tekan</button>
{{Pesan}}

